.emojibutton-container {
  text-align: center;
}

.emojibutton-label {
  background: none;
  font-size: 60px;
  text-shadow: -4px -4px 8px white, 4px 4px 8px black;
}

.emojibutton-input:checked + label {
  text-shadow: -1px -1px 8px white, 1px 1px 8px black;
}

.emojibutton-input {
  display: none;
}
